<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex justify-center">
                <input id="file-input" class="form-control" type="file" name="docfile" required>
            </div>
            <div class="flex justify-center" style="margin: 10px">
                <input type="submit" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
            </div>
        </form>
    </div>
</section>
{% endblock content %}




</body>


</html>
